<div id="case-list" class="container">
  <h1 id="case-title">{{'Cases' | translate }}</h1>

  <div>
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active">
        <a class="title" ng-click="caseCtrl.goTo()"
           id="TabActiveCases">{{:: 'Open cases' | translate }}</a></li>
      <li role="presentation">
        <a class="title" ng-click="caseCtrl.goTo('archived')"
           id="TabArchivedCases">{{:: 'Archived cases' | translate }}</a></li>
    </ul>
    <div ui-view='case-list' id="case-list-tab-content"></div>
  </div>
</div>
