<div id="case-filters" class="panel panel-default">
  <div class="panel-heading title">{{'Filters' | translate}}</div>
  <div class="panel-body">
    <div class="col-md-9">
        <span class="button-filter">{{'Process' | translate}}&nbsp;<span id="infoPopover" class="glyphicon glyphicon-info-sign" popover="{{'This filters the case list only by process name. The display name is shown for information purposes. ' | translate}}" popover-trigger="mouseenter"></span>
          <div class="btn-group" dropdown id="case-process-name-filter" on-toggle="filterCtrl.processListToggled(open)">
            <button type="button" dropdown-toggle class="btn btn-primary dropdown-toggle">{{filterCtrl.getLabelProcessFiltered() | truncate:30:'...'}} <span class="caret"></span></button>
            <ul class="dropdown-menu" role="menu">
              <li ng-click="filterCtrl.selectProcess()"><a>{{'All' | translate}}</a></li><ng-if></ng-if>
              <li ng-if="displayProcessSearch"><input type="text" class="form-control" ng-model="selectedFilters.processSearch" ng-change="filterCtrl.updateProcessFilterListDebounced()" name="processSearchField" id="process-search" onclick="event.stopPropagation();" placeholder="{{ 'Search processes...' | translate }}"/></li>
              <li ng-if="processFilterList &amp;&amp; processFilterList.length > 0" ng-repeat="process in processFilterList | unique:'nameUniqueIdentifier'" ng-click="filterCtrl.selectProcess(process.name)"><a>{{process.name | translate}} ({{process.displayName | translate}})</a></li>
            </ul>
          </div>
        </span>
        <span class="col-md-offset-1 button-filter">{{'Version' | translate}}&nbsp;
          <div class="btn-group" dropdown id="case-process-version-filter" on-toggle="filterCtrl.versionListToggled(open)">
            <button type="button" dropdown-toggle class="btn btn-primary dropdown-toggle" ng-disabled="selectedFilters.selectedProcessName === undefined">{{filterCtrl.getLabelVersionFiltered() | translate | truncate:30:'...'}} <span class="caret"></span></button>
            <ul class="dropdown-menu" role="menu">
              <li ng-click="filterCtrl.selectVersion()"><a>{{'All' | translate}}</a></li>
              <li ng-if="displayProcessSearch"><input type="text" class="form-control" ng-model="selectedFilters.versionSearch" ng-change="filterCtrl.updateVersionFilterListDebounced()" name="versionSearchField" id="version-search" onclick="event.stopPropagation();" placeholder="{{ 'Search ...' | translate }}"/></li>
              <li ng-repeat="version in versions" ng-click="filterCtrl.selectVersion(version)"><a>{{version | translate | truncate:30:'...'}}</a></li>
            </ul>
          </div>
        </span>
        <span class="col-md-offset-1 button-filter">{{'Case state' | translate}}
          <div class="btn-group" dropdown id="case-app-status-filter">
            <button type="button" dropdown-toggle class="btn btn-primary dropdown-toggle">{{caseStatesValues[selectedFilters.selectedStatus] | translate}} <span class="caret"></span></button>
            <ul class="dropdown-menu" role="menu">
              <li ng-click="filterCtrl.selectCaseStatus(defaultFilters.caseStatus)"><a>{{defaultFilters.caseStatus | translate}}</a></li>
              <li class="divider"></li>
              <li ng-click="filterCtrl.selectCaseStatus('error')"><a>{{'With failures' | translate}}</a></li>
            </ul>
          </div>
        </span>
    </div>
    <div class="col-md-3">
      <form role="form" name="searchForm" novalidate ng-submit="filterCtrl.submitSearch()">
        <div class="input-group">
          <input type="text" class="form-control" ng-model="selectedFilters.currentSearch" name="searchField" id="case-list-search" placeholder="{{ 'Search by process name or search keys' | translate }}">
          <span ng-click="filterCtrl.submitSearch()" class="input-group-addon pointer"><span class="glyphicon glyphicon-search"></span></span>
        </div>
      </form>
    </div>
  </div>
</div>
