---
  env:
    browser: true
    jasmine: true
    phantomjs: true
    jquery: true
  
  globals: 
    angular: true
    _: false
    $: false
    after: false
    afterEach: false
    angular: false
    By: false
    by: false
    before: false
    beforeEach: false
    browser: false
    describe: false
    fdescribe: false
    ddescribe: false
    element: false
    expect: false
    inject: false
    it: false
    iit: false
    fit: false
    jasmine: false
    require: false
    spyOn: false
    xdescribe: false
    xit: false
  rules: 
    no-use-before-define: 0
    camelcase: 2
    curly: 2
    brace-style: 
      - 2
      - 1tbs
    quotes: 
      - 2
      - single
    semi:
      - 2
      - always
    space-in-brackets:
      - 2
      - never
    space-infix-ops: 2
    angular/ng_controller_name:  
      - 2 
      - /[A-Z].*Ctrl$/
    angular/ng_on_watch: 2  
  plugins: 
    - angular
  
