<div>
    <div class="modal-header">
        <h1 class="modal-title" translate>Delete membership</h1>
    </div>

    <div class="modal-body" translate>
        Are you sure you want to delete this membership ?
    </div>

    <div class="modal-footer">
        <a class="btn btn-primary"
           ng-click="this.$close(vm.membership)"
           translate>
            Delete
        </a>
        <a class="btn btn-default"
           ng-click="this.$dismiss()"
           translate>
            Cancel
        </a>
    </div>
</div>
