<h2 class="SubHeading" translate>Profiles</h2>
<table class="Profiles">
    <tr ng-repeat="profile in vm.profiles">
        <td>{{profile.name}}</td>
    </tr>
</table>

<div class="memberships-title-section">
    <h2 class="SubHeading" translate>Memberships</h2>
    <span>
        <button class="btn btn-primary AddMembershipsBtn"
                ng-click="vm.openAddPopup()"> +
        </button>
    </span>
</div>
<table class="Memberships">
    <tr ng-repeat="membership in vm.memberships">
        <td translate>
            {{membership.role_id.displayName}} of {{membership.group_id.displayName}}
        </td>
        <td>
            <span class="glyphicon glyphicon-trash clickable"
                  ng-click="vm.openDeletePopUp(membership)"></span>
        </td>
    </tr>
</table>
<div class="col-md-12">
    <div class="pull-left" ng-if="vm.paginationMembership.total">
        <pagination id="memberships-results-pages"
                    ng-if="vm.paginationMembership.total > vm.paginationMembership.itemsPerPage" boundary-links="true"
                    total-items="vm.paginationMembership.total"
                    ng-click="vm.searchMemberships()"
                    ng-model="vm.paginationMembership.currentPage"
                    items-per-page="vm.paginationMembership.itemsPerPage " previous-text="&lsaquo;" next-text="&rsaquo;"
                    first-text="&laquo;" last-text="&raquo;" max-size="5"></pagination>
    </div>
</div>
