#case-list {
  width: 100%;
  padding: 0px 100px 0 100px;
}

#case-list-tab-content {
  padding: 25px 0px 0 0px;
}

#case-list .case-list-refresh {
  padding-left : 10px;
  cursor: pointer;
}

#case-list .column-visibility-name{
    cursor : grab;
}

#case-list .column-visibility-checkbox{
    margin: 0 0 0 10px;
}

#case-list .case-column {
  /*cursor: pointer;*/
}

#case-list .case-row {
  /*cursor: pointer;*/
}
#case-list .case-row a{
  /*color: inherit; /* blue colors for links too */
  /*text-decoration: inherit; /* no underline */
}

#case-list .case-column.st-sort-ascent:after{
  content: '\25B2';
}

#case-list .case-column.st-sort-descent:after{
  content: '\25BC';
}

#case-list .case-checkbox {
  padding-left: 15px;
  width: 40px;
}
#case-list .case-selected {
  background-color: blue;
}

#case-list .lr-drop-target-before{
  border-left: 2px solid orange;
}

#case-list .lr-drop-target-after{
  border-right: 2px solid orange;
}

#case-list .cases-nb-results{
  border: 0;
}

#case-list #cases-results-size{
  margin-top: 20px;
}

#case-filters button{
  text-transform: capitalize;
}

#case-list .dropdown-menu {
  overflow-y: auto;
  max-height: 315px;
}


.glyphicon-refresh-animate {
  -animation: spin .7s infinite linear;
  -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}
