#case-list .bo-TableSettings-content {
  min-width: 250px;
  overflow: visible;
}

#case-list .table > thead > tr:nth-child(1) > th{
  border: none;
}
#case-list .table > thead > tr:nth-child(2) > th {
  border-top: none;
}
#case-list .bo-TableSettings-columns {
  max-height: none;
}

#case-list .table > thead th .bo-SortButton{
    font-weight: bold;
}
#case-list .table > thead th{

}
#cases-results-size-top{
    margin: 4px 20px;
    font-weight: normal;
}