/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

#case-list {
    width: 100%;
    padding: 0 100px 0 100px;
}

#case-list .column-visibility-checkbox{
    margin: 0 0 0 10px;
}

#case-list .case-column {
  cursor: pointer;
}

#case-list .case-row {
  cursor: pointer;
}
#case-list .case-row a{
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

#case-list .case-column.st-sort-ascent:after{
  content: '\25B2';
}

#case-list .case-column.st-sort-descent:after{
  content: '\25BC';
}

#case-list .case-checkbox {
  padding-left: 15px;
  width: 40px;
}
#case-list .case-selected {
  background-color: blue;
}

#case-list .lr-drop-target-before{
  border-left: 2px solid orange;
}

#case-list .lr-drop-target-after{
  border-right: 2px solid orange;
}

#case-list .cases-nb-results{
  border: 0;
}

#case-list #cases-results-size{
  margin-top: 20px;
}
