.panel {
  border-radius: 3px;
}

.panel-default{
  border-color: #e1e4e8;
}

.panel-default > .panel-heading {
  padding: 5px 10px;
  background-color: #f6f8fa;
  border-bottom: 1px solid #e1e4e8;
}


