<div class="modal-body">
  <button type="button" ng-click="modal.cancel()" class="close" title="close form">
    <span aria-hidden="true">&times;</span>
    <span class="sr-only">Close</span>
  </button>
   <bonita-iframe-viewer class="FormViewer"
      ng-if="modal.hasForm"
      tabindex="0"
      is-editable="modal.isFormEditable"
      frame-url="modal.formUrl"
      is-visible="modal.isFormVisible">
    </bonita-iframe-viewer>
    <no-form class="FormViewer"
      ng-if="!modal.hasForm"
      current-task="modal.task"
      refresh-all="modal.refreshAll()"
      editable="modal.isFormEditable">
    </no-form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-warning" title="close form" ng-click="modal.cancel()">Close form</button>
</div>
