<button ng-if="editable" class="pull-right btn btn-primary"
        id="ButtonReleaseDetailsColumn"
        ng-click="onTakeReleaseTask()" title="{{ 'Unassign the task and put it back in Available tasks' | translate }}">
  <i class="glyphicon glyphicon-open"></i>
  <span class="sr-only" translate>Release</span>
</button>

<button ng-if="!editable" class="pull-right btn btn-primary"
        id="ButtonTakeDetailsColumn"
        ng-click="onTakeReleaseTask()" title="{{ 'Assign the task to myself and move it to My tasks' | translate }}">
  <i class="glyphicon glyphicon-save"></i>
  <span class="sr-only" translate>Take</span>
</button>

<tabset>
  <tab id="form-tab" heading="{{ 'Form' | translate }}"
       ng-click="onClickTab('form')"
       active="tab.form" >
    <p class="alert alert-info TaskInfo" ng-if="hideForm" translate>
      This task is completed.
    </p>

    <div ng-if="!hideForm">
      <p class="alert alert-warning" ng-if="!inactive && !editable" translate>
        This task is not assigned to you. You need to take it before filling in this form.
      </p>
      <bonita-iframe-viewer class="FormViewer"
                            tabindex="0"
                            ng-if="!inactive && hasForm"
                            is-editable="editable"
                            frame-url="formUrl"
                            is-visible="tab.form">
      </bonita-iframe-viewer>
      <no-form class="FormViewer"
               ng-if="!hasForm"
               current-task="currentTask"
               editable="editable"
               inactive="inactive">
      </no-form>
    </div>
  </tab>

  <tab id="case-tab" heading="{{ 'Case' | translate }}"
       active="tab.context"
       ng-click="onClickTab('context')" >
    <div ng-if="!inactive">
      <h3 class="Context-title">{{currentTask.name}}</h3>
      <p ng-if="currentTask.description">
        {{currentTask.description}}
      </p>
      <bonita-iframe-viewer
        class="CaseViewer"
        frame-url="overviewUrl"
        is-editable="true"
        is-visible="tab.context">
      </bonita-iframe-viewer>
    </div>
  </tab>
</tabset>
