<!-- tasks listing -->
<div class="alert alert-noresult" ng-show="tasks.length === 0" translate>
  No matching results
</div>
<div bonitable
  on-sort="refreshTasks()"
  sort-options="request.sortOption"
  bo-repeatable
  repeatable-config="columnSettings">
  <div class="GroupAction clearfix" ng-show="tasks.length > 0">
    <div class="GroupAction-button pull-left" ng-show="canDoGroupAction()">
      <button class="btn btn-primary" type="button" title="{{ 'Assign the task to myself and move it to My tasks.' | translate }}"
         ng-disabled="!canTake($selectedItems)" ng-click="takeTasks($selectedItems)">
         <i class="glyphicon glyphicon-save">&nbsp;</i><translate>Take</translate>
      </button>
      <button class="btn btn-default"  type="button" title="{{ 'Unassign the task and put it back in Available tasks' | translate }}"
        ng-disabled="!canRelease($selectedItems)" ng-click="releaseTasks($selectedItems)">
        <i class="glyphicon glyphicon-open">&nbsp;</i><translate>Release</translate>
      </button>
    </div>
    <div class="PaginationInfo pull-right">
      <!-- pagination -->
      <span class="PaginationInfo-summary">
        {{getPaginationStatus()}}
      </span>
      <pagination
        class="PaginationInfo-pagination"
        ng-show="request.pagination.total >= request.pagination.numberPerPage"
        total-items="request.pagination.total"
        ng-model="request.pagination.currentPage"
        items-per-page="request.pagination.numberPerPage"
        max-size="5"
        boundary-links="false"
        ng-change="refreshTasks()"
        previous-text="&lsaquo;" next-text="&rsaquo;"
        rotate="false">
      </pagination>
      <table-settings
        columns="$columns"
        page-size="request.pagination.numberPerPage" sizes="pageSizes"
        update-page-size="pageSizeHandler(size)"
        update-visibility="visibilityHandler(field, $columns)"
        ></table-settings>
      </table-settings>
    </div>
  </div>
  <div class="table-responsive" ng-hide="tasks.length === 0">
    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th data-ignore class="Cell--checkbox" ng-if="canDoGroupAction()">
            <div bo-selectall></div>
          </th>
          <th data-ignore class="Cell--assignee">
            <i class="icon-user" title="{{ 'Available or My tasks' | translate }}"></i>
          </th><!-- assigned icon -->
          <th class="text-right">{{ 'Task Id' | translate }}</th>
          <th bo-sorter="displayName" style="width:30%; min-width:150px">{{ 'Task name' | translate }}</th>
          <th style="width:30%; min-width:150px">{{ 'Description' | translate }}</th>
          <th bo-sorter="processInstanceId" class="text-right">{{ 'Case Id' | translate }}</th>
          <th style="width:30%; min-width:150px">{{ 'Process name' | translate }}</th>
          <th class="text-right">{{ 'Last update' | translate }}</th>
          <th class="text-right">{{ 'Assigned on' | translate }}</th>
          <th bo-sorter="dueDate" class="text-right">{{ 'Due date' | translate }}</th>
          <th bo-sorter="priority">{{ 'Priority' | translate }}</th>
          <th data-ignore class="RowActions" ng-if="mode!=='mid'"></th>
        </tr>
      </thead>
      <tbody>
        <tr class="Line"
            ng-repeat="task in tasks"
            ng-click="onClickTask(task)"
            ng-mouseover="showTaskButtons(task)"
            ng-mouseleave="hideTaskButtons(task)"
            ng-class="{'info':task === currentTask}"
            tabindex="0">

          <td class="Cell--checkbox" ng-if="canDoGroupAction()">
            <input type="checkbox" bo-selector="task" ng-click="onCheckBoxChange($event, $index)">
          </td>

          <td>
            <i class="icon-user" title="{{ 'My task' | translate }}" ng-if="user.user_id===task.assigned_id"></i>
          </td>

          <td class="text-right">{{::task.id}}</td>
          <td class="Ellipsis"><div title="{{::task.displayName}}">{{::task.displayName}}</div></td>
          <td style="Ellipsis" title="{{::task.displayDescription}}">{{::task.displayDescription}}</td>
          <td class="text-right Cell--sortable">{{::task.caseId}}</td>
          <td class="Ellipsis">{{::task.rootContainerId.name}}</td>
          <td class="text-right" title="{{::task.last_update_date|moment:'YYYY-MM-DD HH:mm'}}">{{::task.last_update_date|moment:'MMM DD YYYY'}}</td>
          <td class="text-right" title="{{::task.assigned_date|moment:'YYYY-MM-DD HH:mm'}}">{{::task.assigned_date|moment:'MMM DD YYYY'}}</td>
          <td class="text-right  Cell--sortable" title="{{task.dueDate|moment:'YYYY-MM-DD HH:mm'}}">{{::task.dueDate|moment:'MMM DD YYYY'}}</td>
          <td>{{::getPriority(task.priority)}}</td>
          <td class="Cell--with-actions" ng-switch on="mode" ng-if="mode!=='mid'">
            <button  class="btn btn-default" type="button"
                    ng-switch-when="max"
                    ng-click="onDoTask(task)"
                    ng-if="request.taskFilter !== TASK_FILTERS.DONE"
                    ng-show="task === currentTask || task.btnVisible"
                    title="{{ 'Do this task' | translate }}">
              <i class="icon-do"></i>
              <span class="sr-only" translate>Do this task</span>
            </button>
            <button class="btn btn-default" type="button"
                    ng-click="onViewTask(task)"
                    ng-switch-when="max"
                    ng-show="task === currentTask || task.btnVisible"
                    title="{{ 'View this task' | translate }}">
              <i class="icon-eye"></i>
              <span class="sr-only" translate>View task</span>
            </button>
            <a class="btn btn-xs btn-default" type="button"
               ng-switch-when="min"
               ng-click="goToDetail('details')"
               title="{{ 'View this task' | translate }}" translate>
              View task
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="GroupAction clearfix" ng-show="tasks.length > 0">
    <div class="GroupAction-button pull-left" ng-show="canDoGroupAction()">
      <button class="btn btn-primary" type="button" title="{{ 'Assign the task to myself and move it to My tasks.' | translate }}"
         ng-disabled="!canTake($selectedItems)" ng-click="takeTasks($selectedItems)">
         <i class="glyphicon glyphicon-save">&nbsp;</i><translate>Take</translate>
      </button>
      <button class="btn btn-default" type="button" title="{{ 'Unassign the task and put it back in Available tasks' | translate }}"
        ng-disabled="!canRelease($selectedItems)" ng-click="releaseTasks($selectedItems)">
        <i class="glyphicon glyphicon-open">&nbsp;</i><translate>Release</translate>
      </button>
    </div>
    <div class="PaginationInfo pull-right" >
      <!-- pagination -->
      <span class="PaginationInfo-summary">
        {{getPaginationStatus()}}
      </span>
      <pagination
        class="PaginationInfo-pagination"
        ng-show="request.pagination.total >= request.pagination.numberPerPage"
        total-items="request.pagination.total"
        ng-model="request.pagination.currentPage"
        items-per-page="request.pagination.numberPerPage"
        max-size="5"
        boundary-links="false"
        ng-change="refreshTasks()"
        previous-text="&lsaquo;" next-text="&rsaquo;"
        rotate="false">
      </pagination>
    </div>
  </div>
</div>

