<ul class="TaskFilters nav nav-pills nav-stacked">
  <!-- <a href="#" > is not good for a11n but it's a tradeoff for being themable
     that's why we use bottstrap markup-->
  <li role="presentation" ng-class="{'active':TASK_FILTERS.TODO===taskStatus}">
    <a href="#" title="Show all tasks that I can do, assigned to me or not assigned"
          ng-click="setStatusTaskFilter(TASK_FILTERS.TODO)">
      <span class="badge pull-right" ng-show="count.TODO>0">{{count.TODO}}</span>
      TO DO
    </a>
    <div  collapse="TASK_FILTERS.DONE === taskStatus">
      <ul class="TaskFilters nav nav-pills nav-stacked">
        <li role="presentation" ng-class="{'active':TASK_FILTERS.MY_TASK===taskStatus}">
          <a href="#" class="TaskFilter"
              title="Show tasks assigned to me, automatically, by me or by another user"
              ng-click="setStatusTaskFilter(TASK_FILTERS.MY_TASK)">
            <span class="badge pull-right" ng-show="count.MY_TASK>0">{{count.MY_TASK}}</span>
            My Tasks
          </a>
        </li><!-- my tasks -->
        <li role="presentation" ng-class="{'active':TASK_FILTERS.POOL_TASK===taskStatus}">
          <a href="#" class="TaskFilter"
              title="Show tasks that I can do that are not assigned"
              ng-click="setStatusTaskFilter(TASK_FILTERS.POOL_TASK)" >
            <span class="badge pull-right" ng-show="count.POOL_TASK>0">{{count.POOL_TASK}}</span>
            Available Tasks
          </a>
        </li><!-- available tasks -->
      </ul>
    </div>
  </li><!-- tasks -->
  <li role="presentation" class="hideAccessToNonWorkingView" ng-class="{'active':TASK_FILTERS.DONE===taskStatus}">
    <a href="#" title="Show done tasks"
      ng-click="setStatusTaskFilter(TASK_FILTERS.DONE)" >
      DONE
    </a>
  </li> <!-- done tasks -->
 </ul>
