<div class="pull-right" role="group">
    <button ng-if="editable" class="btn btn-primary"
            id="ButtonReleaseDetailsColumn"
            ng-click="onTakeReleaseTask()"
            title="{{ 'Unassign. This will make it available to team again' | translate }}">
        <span translate>Release</span>
    </button>

    <button class="btn btn-primary" ng-click="tab.form ? openFormPopup() : openOverviewPopup()"
            title="{{ 'Open in a popup' | translate }}">
        <i class="glyphicon glyphicon-resize-full"></i>
        <span class="sr-only" translate>Open in a popup</span>
    </button>
</div>

<tabset>
  <tab heading="{{ 'Form' | translate }}"
       ng-click="onClickTab('form')"
       active="tab.form" >
    <p class="alert alert-info TaskInfo" ng-if="hideForm" translate>
      This task is completed.
    </p>

    <div class="TaskForm" ng-if="!hideForm">
        <div class="FormOverlay-message" ng-if="!editable && !inactive">
            <p class="FormOverlay-text" translate>
                To fill out the form, you need to take this task.
                This means you will be the only one to do it.
                To make it available to the team again, release it.
            </p>
            <button id="ButtonTakeDetailsColumn" class="FormOverlay-button btn btn-sm" ng-click="onTakeReleaseTask()"><i class="icon-user">&nbsp;</i><translate>Take</translate></button>
        </div>
      <bonita-iframe-viewer class="FormViewer"
                            tabindex="0"
                            ng-if="!inactive && hasForm"
                            is-editable="editable"
                            frame-url="formUrl"
                            is-visible="tab.form">
      </bonita-iframe-viewer>
      <no-form class="FormViewer"
               ng-if="!hasForm"
               current-task="currentTask"
               editable="editable"
               inactive="inactive">
      </no-form>
    </div>
  </tab>


  <tab heading="{{ 'Comments' | translate }}" ui-sref="bonita.userTasks.comment({ case: currentCase })">
      <div ui-view></div>
  </tab>

  <tab heading="{{ 'Case' | translate }}"
       active="tab.context"
       ng-click="onClickTab('context')" >
    <div ng-if="!inactive">
      <bonita-iframe-viewer
        class="CaseViewer"
        frame-url="overviewUrl"
        is-editable="true"
        is-visible="tab.context">
      </bonita-iframe-viewer>
    </div>
  </tab>
</tabset>
