<!-- Reset style for the page. Dirty but avoid having to break all other pages -->
<style>
    html, body, body #content {
        height: 100%;
        margin: 0;
    }
</style>
<toast></toast>
<div class="alert alert-warning" ng-show="error">
    <p ng-bind-template="Please login to your bonita portal (Error {{error.status}})"></p>
</div>
<div class="TaskListPage" ng-cloak task-app form-spy spy-submit="app.onFormSubmited(message)"
     ng-class="{
      'TaskListPage--small':app.smallScreen,
      'TaskListPage--withMenu':!app.smallScreen && app.showMenu}">
    <div class="OffcanvasMenu navbar">
      <button ng-if="!app.smallScreen && app.showMenu" title="{{ 'Hide Menu' | translate }}"
        class="FilterToggle"  ng-click="app.toggleFilters()">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only" translate>Hide menu</span>
      </button>
      <button ng-if="!app.smallScreen && !app.showMenu" title="{{ 'Show Menu' | translate }}"
              class="FilterToggle FilterToggle-expend" ng-click="app.toggleFilters()">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only" translate>Show menu</span>
      </button>
      <task-filters filter="app.request.taskFilter"
                    filters="app.TASK_FILTERS"
                    count="app.count"
                    filter-change="app.changeFilter(filter)">
      </task-filters>
    </div>
    <div class="TaskList" ng-if="!error">
        <div class="TaskList-filters panel panel-default">
            <div class="panel-heading title ng-binding">Filters</div>
            <div class="panel-body">
                <div class="col-md-8 button-filter ng-binding">Process name
                    <div class="btn-group dropdown Filter-process" dropdown="">
                        <button dropdown-toggle type="button"
                                class="btn btn-primary"
                                title="{{'Process: ' | translate }} {{ app.request.process.name + (app.request.process.version ? ' ' + app.request.process.version : '') }}"
                                ng-disabled="app.request.taskFilter === app.TASK_FILTERS.DONE || !app.processes || app.processes.length === 0">
                            <div class="ProcessList-label">
                                {{app.request.process.name + (app.request.process.version?"
                                "+app.request.process.version:"")}}
                                <span class="caret"></span>
                            </div>
                        </button>
                        <ul class="dropdown-menu">
                            <li ng-repeat="p in app.processes">
                                <a ng-click="app.setProcess(p)"
                                   ng-class="{'active':p.id === app.request.process.id}"
                                   class="processOptionLink">
                                    {{p.name+"&nbsp;"+p.version}}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4" style="float:right">
                    <form role="form" name="searchForm" novalidate="" ng-submit="app.searchTask()">
                        <div class="input-group">
                            <input class="form-control SearchBox-input" id="search"
                                   input-focus
                                   placeholder="{{ 'Search...' | translate }}"
                                   ng-model="app.request.search"
                                   ng-model-options="{updateOn:'keyup', debounce:{'default':250, 'blur':0} }"
                                   ng-change="app.searchTask()">
                            <span ng-click="app.searchTask()" class="input-group-addon pointer">
                                <span class="glyphicon glyphicon-search"></span>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="TaskList-grid panel panel-default">
            <div class="panel-heading title ng-binding">
                <span>Task list</span>
                <span ng-if="app.loadingTasks">Task list</span>
                <button class="task-list-refresh" style="background: transparent; border: none" ng-click="app.updateAll()" ng-if="!app.loadingTasks" title="{{ 'Refresh data' | translate }}">
                    <span class="icon-refresh"></span>
                </button>
            </div>
            <div class="panel-body">
                <task-list tasks="app.tasks"
                           current-task="app.currentTask"
                           request="app.request"
                           user="app.user"
                           mode="app.getMode(app.showDetails, app.smallScreen)"
                           page-sizes="app.PAGE_SIZES"
                           refresh-tasks="app.updateTasks()"
                           refresh-count="app.updateCount()"
                           select-task="app.selectTask(task)"
                           do-task="app.showTasksFormPopup(task)"
                           view-task="app.showTaskDetailsPopup(task)">
                </task-list>
            </div>
        </div>
    </div>

    <div class="TaskDetails" id="details" ng-class="{'TaskDetails--collapsed':!app.showDetails}">
        <button ng-if="!app.showDetails" class="SizeBar-expand"
                ng-click="app.showDetails = true"
                title="{{'Reduce' | translate}}">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only" translate>Reduce</span>
        </button>
        <button class="SizeBar-reduce"
                ng-if="app.showDetails"
                ng-click="app.showDetails = false"
                title="{{ 'Expand' | translate}}">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only" translate>Expand</span>
        </button>
        <div class="panel panel-default" ng-if="app.smallScreen || app.showDetails">
            <div class="panel-heading">
                <h3 class="panel-title" translate>Task Details</h3>
            </div>
            <div class="panel-body">
                <task-details current-task="app.currentTask"
                              current-case="app.currentCase"
                              refresh-count="app.updateCount()"
                              editable="app.currentTask.assigned_id === app.user.user_id"
                              hide-form="app.request.taskFilter === app.TASK_FILTERS.DONE"
                              inactive="app.tasks.length === 0">
                </task-details>
            </div>
        </div>
    </div>
</div>
