<div class="modal-body">

  <button type="button" ng-click="modal.cancel()" class="close" title="close Preview">
    <span aria-hidden="true">&times;</span>
    <span class="sr-only" translate>Close Preview</span>
  </button>

  <h3 class="Context-title" translate>Case</h3>
  <bonita-iframe-viewer
    class="CaseViewer"
    frame-url="modal.overviewUrl"
    is-editable="true"
    is-visible="true"
    ng-if="!modal.hasOverview">
  </bonita-iframe-viewer>

</div>
<div class="modal-footer">
  <button type="button"
          class="btn btn-warning"
          title="close Preview"
          ng-click="modal.cancel()" translate>
    Close Preview
</button>
</div>
