<div class="modal-body">

  <button type="button" ng-click="modal.cancel()" class="close" title="close Preview">
    <span aria-hidden="true">&times;</span>
    <span class="sr-only">Close Preview</span>
  </button>

  <task-details current-task="modal.task"
                current-case="modal.Case"
                editable="modal.task.assigned_id===modal.userId"
                inactive="false"
                active-tab="context"
                refresh-count="modal.onRefreshCountHandler()"
                refresh-all="modal.onRefreshAllHandler()"
  </task-details>
</div>
<div class="modal-footer">
  <button type="button"
          class="btn btn-warning"
          title="close Preview"
          ng-click="modal.cancel()">
    Close Preview
</button>
</div>
