<div class="circle-indicator" data-nodrag="" ng-if="menu.parentMenuId === '-1' || !menu.parentMenuId"></div>
<span ng-transclude></span>
<button class="clickable glyphicon glyphicon-trash btn-action-remove pull-right" ng-click="actionBarCtrl.removeItem(this, menu)" ng-if="remove !== 'false'" title="{{ 'Delete' | translate }}" aria-label="{{ 'Delete' | translate }}"></button>
<button class="clickable glyphicon glyphicon-pencil btn-action-edit pull-right" ng-click="actionBarCtrl.editItem(this, menu)" ng-if="edit !== 'false'" title="{{ 'Edit' | translate }}" aria-label="{{ 'Edit' | translate }}"></button>
<button class="clickable glyphicon glyphicon-plus btn-action-add pull-right" ng-click="actionBarCtrl.addItem(this, menu)" ng-if="add !== 'false'  && (!menu.applicationPageId || menu.applicationPageId === '-1')" title="{{ 'Add menu item' | translate }}" aria-label="{{ 'Add menu item' | translate }}"></button>
