<div id="case-list">
    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.status}} {{alert.statusText}} : {{alert.errorMsg}}</alert>
    <div class="table-responsive">
    <table st-table="cases" class="table table-striped table-hover" st-pipe="searchForCases">
        <thead>
            <tr><th></th><th ng-repeat="col in columns" st-sort="{{col.name}}" class="case-column">{{col.name|translate}}</th></tr>
        </thead>
        <tfoot>
          <tr>
              <td colspan="{{columns.length+1}}">
                <pager total-items="total" ng-model="currentPage" items-per-page="{{itemsPerPage}}" ng-click="searchForCases()"></pager>
                <p class="text-muted pull-right">Results: {{currentFirstResultIndex }} to {{(currentLastResultIndex)}} of {{total}}</p>
              </td>
          </tr>
        </tfoot>
        <tbody>
            <tr ng-repeat="case in cases" id="caseId-{{case['CaseId']}}" class="case-row" ng-click="selectCase(case);" ng-class="{'info' : case.selected}">
              <td class="case-checkbox">
                    <input type="checkbox" ng-model="case.selected">
              </td>
              <td ng-repeat="col in columns">{{case[col.name]}}</td></tr>
        </tbody>

    </table>
    </div>
</div>
