
<div id="case-list">

  <div id="case-filters" class="panel panel-default col-md-12">
    <div class="panel-heading col-md-12">Filters</div>
    <div class="panel-body col-md-12">
      <div class="col-md-3">App Name :
        <div class="btn-group" dropdown>
          <button type="button" class="btn btn-default dropdown-toggle" translate>{{selectedApp}} <span class="caret"></span></button>
          <ul class="dropdown-menu" role="menu">
            <li ng-click="selectApp(defaultSelectedApp)"><a>{{defaultSelectedApp}}</a></li>
            <li ng-if="appNames &amp;&amp; appNames.length>0" class="divider"></li>
            <li ng-repeat="appName in appNames" ng-click="selectApp(appName)"><a>{{appName}}</a></li>
          </ul>
        </div>
      </div>
      <div class=" col-md-3">Version :
        <div class="btn-group" dropdown >
          <button type="button" class="btn btn-default dropdown-toggle" ng-disabled="selectedApp  === defaultSelectedApp" translate>{{selectedVersion}} <span class="caret"></span></button>
          <ul class="dropdown-menu" role="menu">
            <li ng-click="selectVersion(defaultSelectedVersion)"><a>{{defaultSelectedVersion}}</a></li>
            <li class="divider"></li>
            <li ng-repeat="version in versions" ng-click="selectVersion(version)"><a>{{version}}</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default col-md-12">
      <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.status}} {{alert.statusText}} : {{alert.errorMsg}}</alert>

    <div class="panel-heading col-md-12">Cases</div>
    <div class="panel-body col-md-12">
      <div class="btn-group pull-left">
        <label ng-repeat="pageSize in pageSizes" class="btn btn-default" ng-click='changeItemPerPage(pageSize)' btn-radio="pageSize" ng-model="itemsPerPage">{{pageSize}}</label>
      </div>
      <div class="btn-group pull-right" dropdown>
        <button type="button" class="btn btn-default dropdown-toggle" translate>Columns <span class="caret"></span></button>
        <ul class="dropdown-menu" role="menu">
          <li  ng-repeat="col in columns" ng-click="$event.stopPropagation();"><span class="column-visibility-checkbox"><input type="checkbox" ng-model="col.selected"></span> <span ng-click="selectColumn(col)">{{col.name|translate}}</span></li>
        </ul>
      </div>

      <table resizable-column st-table="cases" class="table table-striped table-hover table-responsive" st-pipe="searchForCases">
          <thead>
          <tr>
            <th></th>
            <th lr-drag-src="headers" lr-drop-target="headers" ng-repeat="col in columns  | filter : filterColumn"
                st-sort="{{col.name}}" class="case-column">{{col.name|translate}}
            </th>
          </tr>
          </thead>
        <tfoot>
        <tr>
          <td colspan="{{columns.length+1}}">
            <div id="cases-results-size" class="col-md-2 pull-left"><p class="text-muted">Results: {{currentFirstResultIndex }} to {{(currentLastResultIndex)}} of
              {{total}}</p></div>
            <div class="pull-right">
              <pagination ng-click="searchForCases()" boundary-links="true" total-items="total" ng-model="currentPage"
                          items-per-page="itemsPerPage " previous-text="&lsaquo;" next-text="&rsaquo;"
                          first-text="&laquo;" last-text="&raquo;" max-size="5"></pagination>
            </div>
          </td>
        </tr>
        </tfoot>
        <tbody>
        <tr ng-repeat="case in cases" id="caseId-{{case['CaseId']}}" class="case-row"
            ng-class="{'info' : case.selected}">
          <td class="case-checkbox">
            <input id="case-check-{{case['CaseId']}}}" type="checkbox" ng-model="case.selected">
          </td>
          <td ng-click="selectCase(case);" ng-repeat="col in columns   | filter : filterColumn">{{case[col.name]}}</td>
        </tr>
        </tbody>

      </table>
    </div>
  </div>
</div>
