<div id="case-filters" class="panel panel-default">
  <div class="panel-heading" translate>Filters</div>
  <div class="panel-body">
    <div class="col-md-3"><translate>App name</translate> :
      <div class="btn-group" dropdown id="case-app-name-filter">
        <button type="button" class="btn btn-default dropdown-toggle">{{selectedApp | translate}} <span class="caret"></span></button>
        <ul class="dropdown-menu" role="menu">
          <li ng-click="selectApp(defaultFilters.appName)"><a>{{defaultFilters.appName | translate}}</a></li>
          <li ng-if="appNames &amp;&amp; appNames.length>0" class="divider"></li>
          <li ng-repeat="appName in appNames" ng-click="selectApp(appName)"><a>{{appName}}</a></li>
        </ul>
      </div>
    </div>
    <div class=" col-md-3"><translate>Version</translate> :
      <div class="btn-group" dropdown id="case-app-version-filter">
        <button type="button" class="btn btn-default dropdown-toggle" ng-disabled="selectedApp  === defaultFilters.appName">{{selectedVersion | translate}} <span class="caret"></span></button>
        <ul class="dropdown-menu" role="menu">
          <li ng-click="selectVersion(defaultFilters.appVersion)"><a>{{defaultFilters.appVersion | translate}}</a></li>
          <li class="divider"></li>
          <li ng-repeat="version in versions" ng-click="selectVersion(version)"><a>{{version}}</a></li>
        </ul>
      </div>
    </div>
    <div class="col-md-3"><translate>State</translate> :
      <div class="btn-group" dropdown id="case-app-status-filter">
        <button type="button" class="btn btn-default dropdown-toggle">{{caseStatusValues[selectedStatus] | translate}} <span class="caret"></span></button>
        <ul class="dropdown-menu" role="menu">
          <li ng-click="selectCaseStatus(defaultFilters.caseStatus)"><a>{{defaultFilters.caseStatus | translate}}</a></li>
          <li class="divider"></li>
          <li ng-click="selectCaseStatus('started')"><a>started</a></li>
          <li ng-click="selectCaseStatus('failed')"><a>failed</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
