<div id="process-details-actors" ng-init="actorsMappingCtrl.init()">
  <h3>{{'Actors' | translate}}</h3>
  <div class="panel panel-default">
    <div class="panel-body">
      <table class="table  actorMappingList">
        <thead>
          <tr>
            <th translate>{{'Actor name' | translate}}</th>
            <th translate>{{'Users' | translate}}</th>
            <th translate>{{'Roles' | translate}}</th>
            <th translate>{{'Groups' | translate}}</th>
            <th translate>{{'Memberships' | translate}}</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat-start="actor in actors.data" ng-init="actorsMappingCtrl.getMembersForAnActor(actor)">
            <td class="actorName">{{actor.name}}</td>
            <td class="members">
              <span ng-repeat="user in actorsMembers[actor.id].users.data">
                <label class="label label-default">{{user.user_id.firstname}} {{user.user_id.lastname}}</label>
              </span>
              <label ng-if="actorsMembers[actor.id].users.resource.pagination.total > membersPerCell" class="label label-default">{{actorsMembers[actor.id].users.resource.pagination.total - membersPerCell}}&nbsp;{{'More' | translate}}</label>
            </td>
            <td class="members">
              <span ng-repeat="role in actorsMembers[actor.id].roles.data">
                <label class="label label-default">{{role.role_id.displayName}}</label>
              </span>
              <label ng-if="actorsMembers[actor.id].roles.resource.pagination.total > membersPerCell" class="label label-default">{{actorsMembers[actor.id].roles.resource.pagination.total - membersPerCell}}&nbsp;{{'More'|translate}}</label>
            </td>
            <td class="members">
              <span ng-repeat="group in actorsMembers[actor.id].groups.data">
                <label class="label label-default">{{group.group_id.displayName}}</label>
              </span>
              <label ng-if="actorsMembers[actor.id].groups.resource.pagination.total > membersPerCell" class="label label-default">{{actorsMembers[actor.id].groups.resource.pagination.total - membersPerCell}}&nbsp;{{'More' | translate}}</label>
              </div>
            </td>
            <td class="members">
              <span ng-repeat="membership in actorsMembers[actor.id].memberships.data">
                <label class="label label-default">{{membership.role_id.displayName}} of {{membership.group_id.displayName}}</label>
              </span>
              <label ng-if="actorsMembers[actor.id].memberships.resource.pagination.total > membersPerCell" class="label label-default outline moreCount">{{actorsMembers[actor.id].memberships.resource.pagination.total - membersPerCell}}&nbsp;{{'More' | translate}}</label>
            </td>
          </tr>
          <tr ng-repeat-end class="mappingEdition-actions">
            <td></td>
            <td>
              <div class="cellFooter pull-right">
                <button ng-click="editMapping(actor, 'USER')" class="glyphicon">
                  <span class="glyphicon" ng-class="{'glyphicon-pencil': actorsMembers[actor.id].users.data.length, 'glyphicon-plus': !actorsMembers[actor.id].users.data.length}"></span>
                </button>
              </div>
            </td>
            <td>
               <div class="cellFooter pull-right">
                <button ng-click="editMapping(actor, 'ROLE')" class="btn btn-info glyphicon">
                  <span class="glyphicon" ng-class="{'glyphicon-pencil': actorsMembers[actor.id].roles.data.length, 'glyphicon-plus': !actorsMembers[actor.id].roles.data.length}"></span>
                </button>
              </div>
            </td>
            <td>
               <div class="cellFooter pull-right">
                <button ng-click="editMapping(actor, 'GROUP')" class="btn btn-info glyphicon">
                  <span class="glyphicon" ng-class="{'glyphicon-pencil': actorsMembers[actor.id].groups.data.length, 'glyphicon-plus': !actorsMembers[actor.id].groups.data.length}"></span>
                </button>
              </div>
            </td>
            <td>
              <div class="cellFooter pull-right">
                <button ng-click="editMapping(actor, 'MEMBERSHIP')" class="glyphicon">
                  <span class="glyphicon" ng-class="{'glyphicon-pencil': actorsMembers[actor.id].memberships.data.length, 'glyphicon-plus': !actorsMembers[actor.id].memberships.data.length}"></span>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <pagination ng-if="actors.resource.pagination.total>actors.resource.pagination.numberPerPage" ng-click="actorsMappingCtrl.getProcessActors()" boundary-links="true" total-items="actors.resource.pagination.total" ng-model="actors.resource.pagination.currentPage" items-per-page="actors.resource.pagination.numberPerPage " previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" max-size="5"></pagination>
    </div>
  </div>
</div>
