<div id="start-for-modal">
    <div class="modal-header header">
        <h3 class="modal-title">{{'Select Categories'| translate }}</h3>
    </div>
    <div class="modal-body body">
        <div 
            isteven-multi-select
            input-model="addCategoryMappingInstanceCtrl.categories"
            output-model="addCategoryMappingInstanceCtrl.selectedCategories"
            button-label="displayName"
            item-label="displayName"
            max-height="200px"
            tick-property="ticked"
            translation="addCategoryMappingInstanceCtrl.localLang"
            helper-elements="filter">
      </div>
    </div>
    <div class="modal-footer">
        <button class="start-for btn btn-primary" ng-click="addCategoryMappingInstanceCtrl.updateCategories()">{{ 'Save' | translate }}</button>
        <button class="btn btn-warning close_popup" ng-click="addCategoryMappingInstanceCtrl.cancel()">{{ 'Cancel' | translate }}</button>
    </div>
</div>