<div id="editActorsMembersModal" ng-init="editActorMembersCtrl.initView()" class="process-details">

  <div class="modal-header">
    <h3 class="modal-title">{{editActorMembersCtrl.title | translate | stringTemplater:[editActorMembersCtrl.scope.actor.displayName]}}</h3>
  </div>
  <div class="modal-body">
    <h4>{{'{} mapped' | translate | stringTemplater:[currentMemberLabel]}}</h4>
    <p class="members">
      <span ng-repeat="member in members">
        <label class="label label-default" >
          {{member.label}} <span ng-click="editActorMembersCtrl.removeMember(member)" class="glyphicon glyphicon-remove"></span>
        </label>&nbsp;
      </span>
      <label ng-click="editActorMembersCtrl.removeAll()" class="label label-danger" ng-if="members.length>0"></span> {{'Remove all' | translate}}</label>
    </p>
    <p class="text-muted" ng-if="!members.length">
      {{'No mapping' | translate}}
    </p>
    <div ng-if="!editActorMembersCtrl.isMembershipEdit()">
      <h4>{{'Add' | translate}}</h4>
      <p><isteven-multi-select
      input-model="editActorMembersCtrl.scope.first200members"
      output-model="editActorMembersCtrl.scope.arrayNewMembers"
      button-label="buttonLabel"
      item-label="listLabel"
      helper-elements="all filter none"
      tick-property="selected"
      max-labels="5"
      max-height="200px"
      translation="editActorMembersCtrl.scope.localLang"
      on-search-change="editActorMembersCtrl.multiselectOnSearch(data)"></isteven-multi-select></p>
    </div>
    <div ng-if="editActorMembersCtrl.isMembershipEdit()">
      <h4>{{'Create a new membership' | translate}}</h4>
      <p><isteven-multi-select
      input-model="editActorMembersCtrl.scope.first200roles"
      output-model="editActorMembersCtrl.scope.newMembershipRole"
      button-label="displayName"
      item-label="displayName"
      helper-elements="all filter none"
      tick-property="selected"
      max-labels="5"
      max-height="200px"
      translation="editActorMembersCtrl.scope.localLangRole"
      on-search-change="editActorMembersCtrl.selectOnSearchRole(data)"
      selection-mode="single"></isteven-multi-select>
      <span style="clear:both">{{' of ' | translate }}</span>
      <isteven-multi-select
      input-model="first200groups"
      output-model="editActorMembersCtrl.scope.newMembershipGroup"
      button-label="displayName"
      helper-elements="all filter none"
      item-label="displayName"
      tick-property="selected"
      max-labels="5"
      max-height="200px"
      translation="editActorMembersCtrl.scope.localLangGroup"
      on-search-change="editActorMembersCtrl.selectOnSearchGroup(data)"
      selection-mode="single"></isteven-multi-select>
      </p>
    </div>
    <div ng-if="!!editActorMembersCtrl.membersToDelete.length">
      <h4>{{'{} mappings to delete' | translate | stringTemplater:[currentMemberLabel]}}</h4>
      <p class="members">
        <span ng-repeat="member in editActorMembersCtrl.membersToDelete">
          <label class="label label-default" >
            {{member.label}} <span ng-click="editActorMembersCtrl.reenableMember(member)" class="glyphicon glyphicon-remove"></span>
          </label>&nbsp;
        </span>
        <label ng-click="editActorMembersCtrl.reenableAll()" class="label label-success" ng-if="editActorMembersCtrl.membersToDelete.length>0"></span> {{'Enable all' | translate}}</label>
      </p>
    </div>
  </div>
  <div class="modal-footer">
    <a ng-if="(editActorMembersCtrl.scope.arrayNewMembers.length || !!editActorMembersCtrl.membersToDelete.length) || (editActorMembersCtrl.scope.newMembershipRole.length && editActorMembersCtrl.scope.newMembershipGroup.length)" class="btn btn-primary" ng-click="editActorMembersCtrl.apply()">{{'Apply' | translate }}</a>
    <a ng-click="editActorMembersCtrl.cancel()" class="btn btn-default">{{'Cancel'|translate}}</a>
  </div>
</div>
