<form role="form" name="form" novalidate>
  <div class="modal-header">
    <h3 class="modal-title">Upload new version of the connector</h3>
  </div>
  <div class="modal-body">

    <section id="beforeImport">
      <bootstrap-form-control
        class="field-upload-container"
        form="form"
        label="{{'Connector zip file' | translate}}">

        <div class="upload-field">
          <input type="file" id="uploadNewConnector" name="import-file" ng-model="importFile.file" required nv-file-select uploader="uploader" accept=".zip">
          <div class="upload-field-content" ng-class="{'upload-success': isUploadSuccess}"><span ng-if="fileName">{{fileName}}</span><span ng-if="!fileName">{{ 'Click here to choose your file (.zip)' | translate }}</span></div>
        </div>
      </bootstrap-form-control>
    </section>


  </div>

  <div class="modal-footer">
    <button
      ng-if="!importIsSuccessfull && !importNotSuccessfull"
      id="confirm"
      ng-disabled="!isUploadSuccess"
      class="btn btn-success btn-primary"
      ng-click="editConnectorImplementationCtrl.saveDefinition()">{{ 'Import' | translate }}
    </button>
  </div>
</form>
