<div id="process-details-information">
  <div class="col-md-12 ">
    
        <div class="metatags-label form-group">{{ 'Configuration state' | translate }}
        <span class="label label-default">{{::processInformationCtrl.process.configurationState}}</span> <span class="configurationState {{processInformationCtrl.process.configurationState | lowercase}}"></span>
        </div>
        <div class="metatags-label  form-group">

        {{ 'Activation state' | translate }}
            <toggle-button on="Enabled" off="Disabled" process-id="{{::processInformationCtrl.process.id}}" initial-state="{{::processInformationCtrl.process.activationState === 'ENABLED'}}" enable-toggle="processInformationCtrl.isProcessResolved"></toggle-button>
      </div>
        <div class="metatags-label form-group">
     
      {{ 'Last updated on' | translate }}
      {{::processInformationCtrl.parseAndFormat(processInformationCtrl.process.last_update_date)}}
      </div>

  </div>
  <div class="col-md-12">

    <p ng-if="processInformationCtrl.process.description" >{{processInformationCtrl.process.description}}</p>
    <p ng-if="!processInformationCtrl.process.description" >{{'No description.' | translate}}</p>
  </div>
  <div class="col-md-12">
  <div class="col-md-12 row categories">
    <div class="col-md-2 row metatags-label">
    Categories <button class="glyphicon" ng-click="processInformationCtrl.openProcessCategoryManagementModal()"><span class="glyphicon glyphicon-pencil"></span></button>
    </div>
    <div class="col-md-10 bootstrap-tags">
      <bonitags tags-suggestion="processInformationCtrl.categories" tags-selection="processInformationCtrl.selectedCategories" read-only></bonitags> 
    </div>
  </div>

    <monitoring-status process='processInformationCtrl.process'></monitoring-status>  
    
    <process-manager-mapping process='processInformationCtrl.process'></process-manager-mapping>  
  </div>
  </div>
</div>