<div id="start-for-modal">
    <div class="modal-header header">
        <h3 class="modal-title">{{'Manage Categories'| translate }}</h3>
    </div>
    <div class="modal-body body">
        <bonitags tags-suggestion="manageCategoryMappingInstanceCtrl.tags" tags-selection="manageCategoryMappingInstanceCtrl.selectedTags"></bonitags> 
    <hr>
        <div 
            isteven-multi-select
            input-model="manageCategoryMappingInstanceCtrl.categories"
            output-model="manageCategoryMappingInstanceCtrl.selectedCategories"
            button-label="displayName"
            item-label="displayName"
            max-height="200px"
            tick-property="ticked"
            translation="manageCategoryMappingInstanceCtrl.localLang"
            helper-elements="filter">
      </div>
    </div>
    <div class="modal-footer">
        <button class="start-for btn btn-primary" ng-click="manageCategoryMappingInstanceCtrl.updateCategories()">{{ 'Save' | translate }}</button>
        <button class="btn btn-warning close_popup" ng-click="manageCategoryMappingInstanceCtrl.cancel()">{{ 'Cancel' | translate }}</button>
    </div>
    
</div>