
#look-n-feel-edit-section .editable-buttons> button{
  margin-top: 2px;
  min-width: 30px;
  min-height: 30px;
  padding: 0 0 0 0;
}

#look-n-feel-edit-section .editable-input{
  max-width: 280px;
}
#app-details-container .actions{
  padding-top: 20px;
}

.app-details-flex-display {
  .app-details-col {
    margin: 0;
    display: flex;
    align-items: center;

    > div {
      display: flex;
      align-items: center;

      > dd {
        margin-left: 20px;
      }
    }

    > dl {
      margin-bottom: 0;

      > div {
        margin: 10px 0;
      }
    }
  }

}
