bootstrap-form-control .form-group {
  padding-bottom: 20px;
}

bootstrap-form-control label::after {
  content: '';
  display: block;
  position: absolute;
  z-index: 88;
}

bootstrap-form-control label::after {
  top: 32px;
  right: 42px;
  height: 20px;
  width: 20px;
  background: transparent;
}

.field-upload-container label::after {display: none}
.select-form-container label::after {
  top: 26px;
  right: 1px;
  width: 65px;
  height: 32px;
  border: 0;
  background: transparent url("skin/images/form-select.png") no-repeat right center;
  pointer-events: none
}

.isBrowser-ie .select-form-container label::after{background-color: white}

.segmented-control {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 1rem;

 & button {
    flex: 1;
    border: none;
    background-color: #f0f0f0;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:not(:last-child) {
      border-right: 1px solid #ccc;
    }
    &:hover:not(.selected) {
      background-color: #e7e7e7;
    }

    &.disabled {
      cursor: not-allowed;
    }

    &.selected {
      background-color: #007bff;
      color: white;
    }
  }
}
