<div class="AvatarUpload">
    <div class="AvatarUpload-preview"
         ng-class="{'AvatarUpload-preview--busy': vm.uploader.isUploading, 'AvatarUpload-preview--default': !vm.hasIcon()}">
        <img ng-if="vm.hasIcon()"
             class="img-rounded img-responsive"
             alt="avatar"
             ng-src="{{vm.iconSrc}}">
    </div>
    <div class="AvatarUpload-btn">
        <label class="btn btn-default btn-xs"
               ng-class="{ 'disabled': vm.uploader.isUploading }">
            <translate>Upload new picture</translate>
            <input type="file"
                   nv-file-select
                   uploader="vm.uploader"
                   ng-disabled="vm.uploader.isUploading"
                   accept="image/*"
            />
        </label>
    </div>
    <div ng-if="vm.isUploadedFileTooBig()" class="AvatarUpload-error" translate>The image you are trying to upload is too big</div>
    <div ng-if="vm.hasUploadedFileWrongMimeType()" class="AvatarUpload-error" translate>The file you are trying to upload has the wrong mime type</div>
</div>
