      <div class="Viewer-wrapper" ng-if="!inactive">
        <h4>{{currentTask.displayName || currentTask.name}}</h4>
        <div ng-if="!hasContract">
            <p translate>No form is needed. You can enter a comment and confirm.</p>
            <form role="form">
              <div class="form-group">
                <label for="task-comment" translate>Comment:</label>
                <textarea ng-model="currentTask.comment" id="task-comment" class="form-control"></textarea>
              </div>
              <button ng-click="onExecuteTask()" class="btn btn-primary center-block" translate>Submit</button>
            </form>
        </div>
        <div ng-if="hasContract">
            <p class="alert alert-info TaskInfo" translate>This task cannot be executed from here.</p>
        </div>
        <div class="Viewer-overlay" ng-if="!editable"></div>
      </div>

