<div class="object-attribute-list">
<span ng-if="vm.isInstalled()" class="object-attribute-icon glyphicon glyphicon-ok-circle" style="color: green;"></span>
<span ng-if="!vm.isInstalled()" class="object-attribute-icon glyphicon glyphicon-ban-circle" style="color: orange;"></span>
<dl>
    <dt translate>Status</dt>
    <dd id="displayState">{{vm.displayState}}</dd>
</dl>
<span class="object-attribute-icon glyphicon glyphicon-calendar"></span>
<dl>
    <dt translate>Last update</dt>
    <dd id="lastUpdate">{{vm.lastUpdateDate | moment:'LLL'}}</dd>
</dl>
<span class="object-attribute-icon glyphicon glyphicon-user"></span>
<dl>
    <dt translate>Updated by</dt>
    <dd id="updatedBy">{{vm.updatedBy}}</dd>
</dl>
</div>
