<h3>List View</h3>


<table id="userList" class='table table-striped'>
<thead>
<tr>
  <th translate>firstname</th>
  <th translate>lastname</th>
  <th translate>Job Title</th>
  <th>#</th>
</tr>
</thead>
<tbody>
  <tr ng-repeat="user in users.result" id='userID-{{user.id}}' class='user'>
    <td>{{ user.firstname}}</td>
    <td>{{ user.lastname}}</td>
    <td>{{ user.job_title}}</td>
    <td>{{ user.id}}</td>
  </tr>
</tbody>
</table>


<!--h3>List View <span class='label label-default'>New!</span></h3>
<ul id="userList" class='list-group'>
  <li class='list-group-item user' id='userID-{{user.id}}' ng-repeat="user in users.result">{{ user.firstname}} {{ user.lastname}} is {{ user.job_title}} </li>
</ul-->
