
<div>

  <div ng-switch on="archivedTabName">
    <archived-case-user-filters ng-switch-when="true"> </archived-case-user-filters>
    <active-case-user-filters ng-switch-default> </active-case-user-filters>
  </div>
  <div class="panel panel-default">

    <div class="panel-heading title">{{ 'Case list' | translate }}  <span ng-click="caseUserCtrl.reinitCases()" tooltip="{{ 'Refresh' | translate}}" tooltip-animation="false" tooltip-popup-delay="300" class="case-list-refresh glyphicon glyphicon-repeat"></span></div>
    <div class="panel-body">
      <div growl></div>
      <div ng-if="cases.length">
        <div class="col-md-12">
          <table ng-if="!archivedTabName" bonitable bo-storable="cases-list" bo-repeatable  on-sort="caseUserCtrl.updateSortField(sortOptions)" sort-options="sortOptions" resizable-column="$columns" resize-selector="tr th.case-column" class="table table-striped table-hover table-responsive">
            <thead>
              <tr>
                <th colspan="{{$columns.length+2}}">
                  <div class="pull-right table-buttons">
                    <table-settings class="pull-right" page-size="pagination.itemsPerPage" sizes="pageSizes" columns="$columns" update-page-size="caseUserCtrl.changeItemPerPage(size)"></table-settings>
                    <span  ng-if="pagination.total" id="cases-results-size-top" class="pull-right">{{ '{}-{} of {}' | translate | stringTemplater:[currentFirstResultIndex, currentLastResultIndex, pagination.total]}}</span>
                  </div>
                </th>
              </tr>
              <tr data-headers>
                <th class="text-right case-column" bo-sorter="id" bo-sorter-title-asc="{{'sort by ID ascending' | translate}}" bo-sorter-title-desc="{{'sort by ID descending' | translate}}">{{'ID' | translate}}</th>
                <th class="case-column" bo-sorter="name" bo-sorter-title-asc="{{'sort by Process name ascending' | translate}}" bo-sorter-title-desc="{{'sort by Process name descending' | translate}}">{{'Process name' | translate}}</th>
                <th class="case-column" >{{'Version' | translate}}</th>
                <th bo-sorter="startDate" class="case-column" bo-sorter-title-asc="{{'sort by Start date ascending' | translate}}" bo-sorter-title-desc="{{'sort by Start date descending' | translate}}">{{'Start date' | translate}}</th>
                <th class="case-column">{{'Started by' | translate}}</th>
                <th class="text-right case-column">{{'Available tasks' | translate}}</th>
                <th bo-sorter="index1" class="case-column" remove-column="{{!caseUserCtrl.displayKeys()}}" ng-hide="!caseUserCtrl.displayKeys()"><span id="infoPopover" class="glyphicon glyphicon-info-sign" popover="{{'To personalize the display of search keys (and columns in general), use the table settings button on the right. You can search on up to 5 search keys.' | translate}}" popover-trigger="mouseenter"></span> {{'Search Key 1' | translate}}</th>
                <th bo-sorter="index2" visible="false" class="case-column" remove-column="{{!caseUserCtrl.displayKeys()}}" ng-hide="!caseUserCtrl.displayKeys()">{{'Search Key 2' | translate}}</th>
                <th bo-sorter="index3" visible="false" class="case-column" remove-column="{{!caseUserCtrl.displayKeys()}}" ng-hide="!caseUserCtrl.displayKeys()">{{'Search Key 3' | translate}}</th>
                <th bo-sorter="index4" visible="false" class="case-column" remove-column="{{!caseUserCtrl.displayKeys()}}" ng-hide="!caseUserCtrl.displayKeys()">{{'Search Key 4' | translate}}</th>
                <th bo-sorter="index5" visible="false" class="case-column" remove-column="{{!caseUserCtrl.displayKeys()}}" ng-hide="!caseUserCtrl.displayKeys()">{{'Search Key 5' | translate}}</th>
                <th data-ignore class="text-center">{{'Actions' | translate}}</th>

              </tr>
            </thead>
            <tbody>

            <tr ng-repeat="case in cases" id="caseId-{{::case.id}}" class="case-row" ng-class="{'info' : case.selected}">
              <td class="text-right case-detail"><a id="case-detail-link-{{case.id}}" target="_top" href="{{::caseUserCtrl.getLinkToCase(case)}}">{{case['ID']}}</a></td>
              <td class="case-detail">{{::case['Process name']}}</td>
              <td class="case-detail">{{::case['Version']}}</td>
              <td class="case-detail">{{::caseUserCtrl.parseAndFormat(case['Start date'])}}</td>
              <td class="case-detail">{{::case['Started by'] || ('System' | translate)}}</td>
              <td class="case-detail text-right">{{::case['Available tasks']}}</td>
              <td class="case-detail" ng-hide="!caseUserCtrl.displayKeys()"><search-index case="case" index="1"></search-index></td>
              <td class="case-detail" ng-hide="!caseUserCtrl.displayKeys()"><search-index case="case" index="2"></search-index></td>
              <td class="case-detail" ng-hide="!caseUserCtrl.displayKeys()"><search-index case="case" index="3"></search-index></td>
              <td class="case-detail" ng-hide="!caseUserCtrl.displayKeys()"><search-index case="case" index="4"></search-index></td>
              <td class="case-detail" ng-hide="!caseUserCtrl.displayKeys()"><search-index case="case" index="5"></search-index></td>
              <td class="case-link text-center">
                <a id="case-overview-btn-{{::case.id}}" tooltip="{{'View case overview' | translate }}"  tooltip-popup-delay="500" tooltip-animation="false" target="_top" ng-href="{{::caseUserCtrl.getLinkToCaseOverview(case)}}" class="open-link">
                  <span class="glyphicon glyphicon-eye-open"></span>
                </a>
                <a id="case-detail-btn-{{::case.id}}" tooltip="{{'View case details' | translate }}"  tooltip-popup-delay="500" tooltip-animation="false" target="_top" ng-href="{{::caseUserCtrl.getLinkToCase(case)}}" class="open-link">
                  <span class="glyphicon glyphicon-option-horizontal"></span>
                </a>
              </td>
            </tr>
            </tbody>
          </table>

          <table ng-if="archivedTabName" bonitable bo-repeatable bo-storable="archived-cases-list" on-sort="caseUserCtrl.updateSortField(sortOptions)" sort-options="sortOptions" resizable-column="$columns" resize-selector="tr th.case-column" class="table table-striped table-hover table-responsive">
            <thead>
              <tr>
                <th colspan="{{$columns.length+2}}">
                  <div class="pull-left case-action table-buttons">
                    <div class="case-action table-buttons"> <archived-case-user-delete>{{'Delete' | translate}}</archived-case-user-delete></div>
                  </div>
                  <div class="pull-right table-buttons">
                    <table-settings class="pull-right" page-size="pagination.itemsPerPage" sizes="pageSizes" columns="$columns"  update-page-size="caseUserCtrl.changeItemPerPage(size)"></table-settings>
                       <span ng-if="pagination.total" id="cases-results-size-top" class="pull-right">{{ '{}-{} of {}' | translate | stringTemplater:[currentFirstResultIndex, currentLastResultIndex, pagination.total]}}</span>
                  </div>
                </th>
              </tr>
              <tr data-headers>
                <th class="case-checkbox" data-ignore><div bo-selectall></div></th>
                <th class="text-right case-column" bo-sorter="sourceObjectId" bo-sorter-title-asc="{{'sort by ID ascending' | translate}}" bo-sorter-title-desc="{{'sort by ID descending' | translate}}">{{'ID' | translate}}</th>
                <th class="case-column" bo-sorter="name" bo-sorter-title-asc="{{'sort by Process name ascending' | translate}}" bo-sorter-title-desc="{{'sort by Process name descending' | translate}}">{{'Process name' | translate}}</th>
                <th class="case-column" >{{'Version' | translate}}</th>
                <th bo-sorter="startDate" class="case-column" bo-sorter-title-asc="{{'sort by Start date ascending' | translate}}" bo-sorter-title-desc="{{'sort by Start date descending' | translate}}">{{'Start date' | translate}}</th>
                <th class="case-column" >{{'Started by' | translate}}</th>
                <th bo-sorter="endDate" class="case-column" bo-sorter-title-asc="{{'sort by End date ascending' | translate}}" bo-sorter-title-desc="{{'sort by End date descending' | translate}}">{{'End date' | translate}}</th>
                <th bo-sorter="index1" class="case-column" remove-column="{{!caseUserCtrl.displayKeys()}}" ng-hide="!caseUserCtrl.displayKeys()"><span id="infoPopover" class="glyphicon glyphicon-info-sign" popover="{{'To personalize the display of search keys (and columns in general), use the table settings button on the right. You can search on up to 5 search keys.' | translate}}" popover-trigger="mouseenter"></span> {{'Search Key 1' | translate}}</th>
                <th bo-sorter="index2" visible="false" class="case-column" remove-column="{{!caseUserCtrl.displayKeys()}}" ng-hide="!caseUserCtrl.displayKeys()">{{'Search Key 2' | translate}}</th>
                <th bo-sorter="index3" visible="false" class="case-column" remove-column="{{!caseUserCtrl.displayKeys()}}" ng-hide="!caseUserCtrl.displayKeys()">{{'Search Key 3' | translate}}</th>
                <th bo-sorter="index4" visible="false" class="case-column" remove-column="{{!caseUserCtrl.displayKeys()}}" ng-hide="!caseUserCtrl.displayKeys()">{{'Search Key 4' | translate}}</th>
                <th bo-sorter="index5" visible="false" class="case-column" remove-column="{{!caseUserCtrl.displayKeys()}}" ng-hide="!caseUserCtrl.displayKeys()">{{'Search Key 5' | translate}}</th>

                <th data-ignore class="text-center">{{'Actions' | translate}}</th>
              </tr>
            </thead>
            <tbody>

            <tr ng-repeat="case in cases" id="caseId-{{::case.id}}" class="case-row" ng-class="{'info' : case.selected}">
              <td class="case-checkbox">
                <input id="case-check-{{::case.id}}" type="checkbox" bo-selector="case" >
              </td>

              <td class="case-detail text-right"><a id="case-detail-link-{{case.id}}" target="_top" href="{{::caseUserCtrl.getLinkToCase(case)}}">{{case['ID']}}</a></td>
              <td class="case-detail">{{::case['Process name']}}</td>
              <td class="case-detail">{{::case['Version']}}</td>
              <td class="case-detail">{{::caseUserCtrl.parseAndFormat(case['Start date'])}}</td>
              <td class="case-detail">{{::case['Started by'] || ('System' | translate)}}</td>
              <td class="case-detail">{{::caseUserCtrl.parseAndFormat(case['End date'])}}</td>
              <td class="case-detail" ng-hide="!caseUserCtrl.displayKeys()"><search-index case="case" index="1"></search-index></td>
              <td class="case-detail" ng-hide="!caseUserCtrl.displayKeys()"><search-index case="case" index="2"></search-index></td>
              <td class="case-detail" ng-hide="!caseUserCtrl.displayKeys()"><search-index case="case" index="3"></search-index></td>
              <td class="case-detail" ng-hide="!caseUserCtrl.displayKeys()"><search-index case="case" index="4"></search-index></td>
              <td class="case-detail" ng-hide="!caseUserCtrl.displayKeys()"><search-index case="case" index="5"></search-index></td>
              <td class="case-link text-center">
                <a id="case-overview-btn-{{::case.id}}" tooltip="{{'View case overview' | translate }}"  tooltip-popup-delay="500" tooltip-animation="false" target="_top" ng-href="{{::caseUserCtrl.getLinkToArchivedCaseOverview(case)}}" class="open-link">
                  <span class="glyphicon glyphicon-eye-open"></span>
                </a>
                <a id="case-detail-btn-{{::case.id}}" tooltip="{{'View case details' | translate }}"  tooltip-popup-delay="500" tooltip-animation="false" target="_top" ng-href="{{::caseUserCtrl.getLinkToCase(case)}}" class="open-link">
                  <span class="glyphicon glyphicon-option-horizontal"></span>
                </a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="col-md-12">
          <div class="pull-right" ng-if="pagination.total">
            <span id="cases-results-size-bottom" class="pull-left">{{ '{}-{} of {}' | translate | stringTemplater:[currentFirstResultIndex, currentLastResultIndex, pagination.total]}}</span>
            <pagination id="cases-results-pages" ng-if="pagination.total > pagination.itemsPerPage" ng-click="caseUserCtrl.searchForCases()" boundary-links="true" total-items="pagination.total" ng-model="pagination.currentPage" items-per-page="pagination.itemsPerPage " previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" max-size="5"></pagination>
           </div>
        </div>
      </div>
      <div ng-if="loading">
        <p class="text-muted"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>&nbsp;{{ 'Loading...' | translate}}</p>
      </div>
      <div ng-if="!loading &amp;&amp; cases &amp;&amp; cases.length===0">
        <p class="text-muted animated fadeIn">{{ 'No cases to display' | translate }}</p>
      </div>
    </div>
  </div>
</div>
