.UserDetails {

  .SubHeading {
    margin-top: 0;
  }

  .SubHeading ~ .SubHeading {
    margin-top: 3rem;
  }


  .UserMetadata {
    display: flex;

    margin-bottom: 1rem;

    font-size: .9em;
    color: #586069;

    > *:not(:first-child) {
      margin-left: 6rem;
    }

    @media (max-width: 480px) {
      > *:not(:first-child) {
        margin-left: 2rem;
      }
    }
  }

  .UserCard {
    margin-top: 2rem;
  }

  .Memberships, .Profiles {
    border-collapse: separate;
    border-spacing: 1rem .5rem;
  }

  .Memberships {
    margin-bottom: 1.5rem;
  }

}
